<html>
    <head>
        <title>Stay hungry. Pray on success.</title>
    </head>
    <body>
        <!-- div defines a section of the page -->
        <div>
            <h1><a href="/">BLOG: Invent the disease sell them the cure.</a></h1>
        </div>

        </br>
        <div>
            <h2><a href="">Primer Post: Self mastery is the key to all mastery.</a></h2>
            <p>publicado el: 14.06.2014, 12:14</p>
            <p>To be is to do.</p>
        </div>

        </br>
        <div>
            <h2><a href="">Segundo Post: Kiss slowly, play hard, forgive quickly, take chances, give everything and have no regrets.</a></h2>
            <p>publicado el: 14.06.2014, 12:15</p>
            <p>My formula for greatness in a human being is amor fati. That one wants nothing to be different, not forward, not backwards, not in all eternity, not nearly bear what is necessary, still less conceal it, but love it.</p>
        </div>
    </body>
</html>
